.view {
  /* display: flex; */
  /* font-size: 0; */
}

.main-view {
  width: 100vw;
  height: 100vh;
  background-color: #aaaaaa;
}

.side-views {
  display: inline-block;
}

.primary-view {
  display: inline-block;
  background-color: #454545;
}

.secondary-view {
  display: inline-block;
  background-color: #797979;
}